<!-- <div class="container"> -->


    <div class="d-flex justify-content-center mt-3">
        <h4>Selecciona tu catálogo</h4>
    </div>

    <!-- Prueba bootstrap -->
    <div class="d-flex justify-content-around">
    <div class="row  text-center">
        <div class="col-lg-3 col-md-6 col-sm-12 p-2 bd-highlight ">
            <img class="portada-cat" src="../../../assets/edificio.jpg"  alt="">
            <h6 >Texto uno</h6>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-2 bd-highlight">
            <img class="portada-cat" src="../../../assets/edificio.jpg"  alt="">
            <h6 >Texto uno</h6>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-2 bd-highlight">
            <img class="portada-cat" src="../../../assets/edificio.jpg"  alt="">
            <h6 >Texto uno</h6>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-2 bd-highlight">
            <img class="portada-cat" src="../../../assets/edificio.jpg"  alt="">
            <h6 >Texto uno</h6>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-2 bd-highlight">
            <img class="portada-cat"  src="../../../assets/edificio.jpg"  alt="">
            <h6 >Texto uno</h6>
        </div>
    </div>
